@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
*{
  font-family: "Poppins", sans-serif;
  background-color: #c7fee7;
  margin: 0;
  top: 0;
}


header{
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  margin: 50px 50px 100px 50px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  background-color: #c7fee7;
}

@media only screen and (max-width: 950px) {
header{
  top: 0;
  left: 0;
  width: 80%;
  margin: 20px 20px;
  z-index: 1000;
  justify-content: space-between;
  text-decoration: none;
  background-color: #c7fee7;
}
}

@media only screen and (max-width: 900px) {
header{
  top: 0;
  left: 0;
  width: 70%;
  margin: 20px 20px;
  z-index: 1000;
  justify-content: space-between;
  text-decoration: none;
  background-color: #c7fee7;
}
}

@media only screen and (max-width: 820px) {
header{
  top: 0;
  left: 0;
  width: 95%;
  margin: 20px 20px;
  z-index: 1000;
  justify-content: space-between;
  text-decoration: none;
  background-color: #c7fee7;
}
}

@media only screen and (max-width: 800px) {
header{
  top: 0;
  left: 0;
  width: 95%;
  margin: 20px 20px;
  z-index: 1000;
  justify-content: space-between;
  text-decoration: none;
  background-color: #c7fee7;
}
}


@media only screen and (max-width: 600px) {
header{
  top: 0;
  left: 0;
  width: 95%;
  margin: 20px 20px;
  z-index: 1000;
  justify-content: space-between;
  text-decoration: none;
  background-color: #c7fee7;
}
}

@media only screen and (max-width: 450px) {
header{
  top: 0;
  left: 0;
  width: 90%;
  margin: 10px 10px 25px 26px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  background-color: #c7fee7;
}
}

@media only screen and (max-width: 400px) {
header{
  top: 0;
  left: 0;
  width: 95%;
  margin: 10px 10px 25px 25px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  background-color: #c7fee7;
}
}

header .logo{
  object-fit: contain;
  color: #f64ba9;
  text-transform: uppercase;
  cursor: pointer;

}

header .logo img{
max-width: 13%;
background-size: cover;
object-fit: contain;
}


@media only screen and (max-width: 500px) {
header .logo img{
   max-width: 25%;
}
}

 #link{
    text-decoration: none;
    font-size: 1.5em;
    color: #f64ba9;
    padding: 0px 20px;
 }

 #link:hover{
  opacity: 0.2;
  cursor: pointer;
   

 }

 @media only screen and (max-width: 450px) {
 #link{
text-decoration: none;
    font-size: 0.9em;
    position: inherit;
    color: #f64ba9;   
}
}

@media only screen and (max-width: 400px) {
 #link{
text-decoration: none;
    font-size: 0.9em;
    position: inherit;
    color: #f64ba9;   
}
}




 
   
.flexbox{
  font-family: "Poppins", sans-serif;
  color: #f64ba9;
  display: flex;
  position: relative;
  grid-template-columns: 40% 60%;
  margin: 300px 80px 100px 50px;
}

@media only screen and (max-width: 950px) {  
.flexbox{
  display: grid;
 grid-template-columns: repeat(1, 1fr);
 max-width: 100%;
 margin: 150px 130px 90px -15px;

   }
 }


@media only screen and (max-width: 900px) {  
.flexbox{
  display: grid;
 grid-template-columns: repeat(1, 1fr);
 max-width: 100%;
 margin: 150px 130px 90px -15px;

   }
 }

  @media only screen and (max-width: 800px) {  
.flexbox{
  display: grid;
 grid-template-columns: repeat(1, 1fr);
 max-width: 100%;
 margin: 150px 35px 90px -20px;

   }
 }


 @media only screen and (max-width: 600px) {  
.flexbox{
  display: grid;
 grid-template-columns: repeat(1, 1fr);
 max-width: 100%;
 margin: 150px 130px 90px -15px;

   }
 }

 @media only screen and (max-width: 450px) {  
.flexbox{
  display: grid;
 grid-template-columns: repeat(1, 1fr);
 max-width: 100%;
 margin: 150px 130px 90px -15px;

   }
 }

.flex-item img{
  display: flex;
  flex-wrap: wrap;
  float: left;
  margin: 15px 20px 20px 160px;
  max-width: 250px;
  }

@media only screen and (max-width: 950px) {  
.flex-item img{
margin: 40px 60px 30px 230px;
max-width: 320px;
     }
 }


@media only screen and (max-width: 800px) {  
.flex-item img{
margin: 40px 60px 30px 200px;
max-width: 270px;
     }
 }


@media only screen and (max-width: 450px) {  
.flex-item img{
margin: -10px 60px 15px 95px;
max-width: 250px;
     }
 }

@media only screen and (max-width: 400px) {  
.flex-item img{
margin: -10px 60px 15px 95px;
max-width: 250px;
     }
 }

.flex-item p{ 
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5em;
  color: #f64ba9;
  padding: 0px;
  font-weight: 400;
  position: relative;
  max-width: 90%;
  margin: 15px 80px 10px 50px;
  float:left;
  align-content: center;
}

@media only screen and (max-width: 820px) {  
.flex-item p{
 display: grid;
 grid-template-columns: repeat(1, 1fr);
 max-width: 100%;
 margin: 20px -95px -5px 45px;
 font-size: 1.5em;
   }
 }

@media only screen and (max-width: 450px) {  
.flex-item p{
 display: grid;
 grid-template-columns: repeat(1, 1fr);
 max-width: 100%;
 margin: 20px -5px -5px 35px;
 font-size: 0.9em;
   }
 }

@media only screen and (max-width: 400px) {  
.flex-item p{
 display: grid;
 grid-template-columns: repeat(1, 1fr);
 max-width: 100%;
 margin: 20px 20px 0px 30px;
 font-size: 0.9em;
   }
 }

.flex-item h2{
  font-size: 1.5em;
  font-weight: 600;
  color: #f64ba9;
  display: flex;
  position: relative;
  float: left;
  max-width: 100%;
  margin: 30px 420px 20px 50px;
   }

@media only screen and (max-width: 900px) {  
.flex-item h2{
  margin: 40px 260px 30px 50px;
 

   }
 }

 @media only screen and (max-width: 450px) {  
.flex-item h2{
  font-size: 0.9em;
  font-weight: 700;
  margin: 30px 70px -5px 35px;
    }
 }

@media only screen and (max-width: 400px) {  
.flex-item h2{
  font-size: 0.9em;
  font-weight: 700;
  margin: 30px 120px -6px 30px;
    }
 }

.flex-item li {
    display: flex;
    list-style-type: none; /* Убираем маркеры */
    margin-top: 10px;
   }
.flex-item ul {
  font-size: 1.5em;
  color: #f64ba9;
  padding: 0px;
  font-weight: 400;
  position: relative;
  max-width: 100%;
  margin: 0px 130px 10px 50px;
  float:left;
   }

@media only screen and (max-width: 450px) {  
.flex-item ul{
  font-size: 0.9em;
  margin: 20px 70px -5px 35px;
    }
 }


@media only screen and (max-width: 400px) {  
.flex-item ul{
  font-size: 0.9em;
  margin: 20px 120px -6px 30px;
    }
 }

 .container-footer{
  display: flex; 
  grid-template-columns: 50% 50%;
  with: 95%;
  justify-content: space-between;
  margin: 140px 30px 30px 50px;
  position: relative;
  overflow-x: hidden;
}

@media only screen and (max-width: 950px) {
  .container-footer{
      margin-left: 0px;
      margin: 100px 155px 25px 20px;     
  }
   }


@media only screen and (max-width: 800px) {
  .container-footer{
      margin-left: 0px;
      margin: 100px 110px 25px 20px;     
  }
   }


@media only screen and (max-width: 500px) {
  .container-footer{
      margin-left: 0px;
      margin: 110px 46px 25px 0px;     
  }
   }

@media only screen and (max-width: 450px) {
  .container-footer{
      margin-left: 0px;
    margin: 115px -15px 25px 5px;
      
  }
   }

@media only screen and (max-width: 400px) {
  .container-footer{
      margin-left: 0px;
    margin: 115px -50px 25px 0px;
      
  }
   }

.social ul{
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  fill: #f64ba9;
  overflow: hidden;
}

.social li{
  list-style: none;
  display: inline-block;
  margin-right: 15px;
  fill: #f64ba9;
}


@media only screen and (max-width: 500px) {
  .social ul{
      margin-top: 0px;
      margin-left: 0px;
  }
   }

@media only screen and (max-width: 300px) {
  .social{
      margin-top: 0px;
      
  }
   }

.social li a:hover{
  cursor: pointer;
  opacity: 0.2;
}



.row{
  position: relative;
  display: flex;
  color: #f64ba9;
  margin-left: 15px;
 }

  .row p:{
   font-size: 0.5em;
   }

@media only screen and (max-width: 500px) {
  .row p:{
     
      font-size: 0,4em;

      
  }
   }
 